@using QuanLyMamNon.Models
@*@using QuanLyMamNon.Reponsitory*@
@model QuanLyMamNon.Models.Dao.ViewModelDanhSachHS

@{
    ViewBag.Title = "DanhSachHocSinh";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12"><h1 class="page-header"><i class="fa fa-anchor fa-fw"></i>Trang chủ kế toán</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-12">
                            <i class="fa fa-th-list fa-2x">  Danh sách học sinh</i>
                        </div>
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4">
                            @using (Html.BeginForm("DanhSachHocSinh", "KeToan", FormMethod.Get, new { @class = "header-search-box", @style = "text-align:right" }))
                            {
                                <p>
                                </p><div class="form-inline">
                                    <div class="input-group">
                                        <select class="form-control" id="idd" name="groupLop">
                                            <option value="0">Tất cả</option>
                                            @foreach (var i in Model.listLop)
                                            {
                                                <option value="@i.MaLop">@i.TenLop</option>
                                            }
                                        </select>
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" type="submit">Hiển thị</button>
                                        </span>
                                    </div><!-- /input-group -->

                                </div>
                                <p></p>
                            }
                        </div>
                    </div>
                    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>
                                    Mã
                                </th>
                                <th>
                                    Học Và Tên
                                </th>
                                <th>
                                    Ngày Sinh
                                </th>
                                <th>
                                    Địa Chỉ
                                </th>
                                <th>
                                    Phụ Huynh
                                </th>
                                <th>
                                    Tel
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.listHocSinh)
                            {
                                <tr>
                                    <td>
                                        @item.MaHocSinh
                                    </td>
                                    <td>
                                        @item.Ten
                                    </td>
                                    <td>
                                        @item.NgaySinh.ToShortDateString()
                                    </td>
                                    <td>
                                        @item.DiaChi
                                    </td>
                                    <td>
                                        @item.TenPhuHuynh
                                    </td>
                                    <td>
                                        @item.Sdt
                                    </td>
                                    <td>
                                        @item.Email
                                    </td>
                                    <td>
                                        
                                        <a href="javascript:void(0);" class="btn btn-social-icon btn-bitbucket Details_HocSinh" data-id="@item.MaHocSinh"><i class="fa fa-info"></i></a>
                                        @Html.ActionLink(".", "HocPhiHocSinh", new { MaHocSinh = item.MaHocSinh, date = DateTime.Now.ToString("MM/yyyy") }, new {@class= "glyphicon glyphicon-bitcoin   " })
                                        
@*
    @{
        var reponse = new PhieuThuHocPhiReponsitory();

    }
    @if (!reponse.checkExistPhieuThu(item.MaHocSinh, "12/2017"))
    {
        @Html.ActionLink("Học phí", "HocPhiHocSinh", new { MaHocSinh = item.MaHocSinh, date = DateTime.Now.ToString("MM/yyyy") })
    }
    @if (reponse.checkExistPhieuThu(item.MaHocSinh, "12/2017"))
    {
        @Html.ActionLink("Học phí", "HocPhiHocSinh", new { MaHocSinh = item.MaHocSinh, date = DateTime.Now.ToString("MM/yyyy") },new {@style= "color:#ff0000" })
    }*@


                                        
                                       
                                       
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="modal fade" id="myModal_detailsHocSinh" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog" style="width: 800px;">
                            <div class="modal-content" id="myModalContent">
                                <!-- Partial view Add,detail,update in here -->
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>
<script>
    $('#idd option[value=@ViewBag.select]').attr('selected', 'selected');

    $(document).ready(function () {
        // do get details HocSinh
        $(".Details_HocSinh").click(function () {
            debugger;
            var detaisl_HocSinh_url = '@Url.Action("Detail", "HocSinh")';
            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id');
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: detaisl_HocSinh_url,
                contentType: "application/json; charset=utf-8",
                data: { "Id": id },
                datatype: "json",
                success: function (data) {
                    debugger;
                    $('#myModalContent').html(data);
                    $('#myModal_detailsHocSinh').modal(options);
                    $('#myModal_detailsHocSinh').modal('show');
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        });
       
    });
</script>
<style>
    .image_link {
        color:red;
        background-image: url('../../img/monney.png');
    }
</style>
