@model QuanLyMamNon.Models.Dao.ViewModelPhieuThu
<h2>Ho va ten: @Model.hocSinh.Ten</h2>
<h2>Ngay lap phieu: @DateTime.Now.ToString()</h2>
<h2>Hoc Phi</h2>
<table>
    <tr>
        <th>Tên Loại Tiền</th>
        <th>Chi phi</th>
        <th>Tong 1</th>
    </tr>

    @foreach (var item in Model.listHocPhiThang)
    {
        <tr>
            <td>@item.TenHocPhi</td>
            <td>@item.ChiPhi vnd</td>
            <td>...</td>
        </tr>
    }
    <tr>
        <th></th>
        <th></th>
        <th>@Model.tong1</th>
    </tr>
</table>
<h2>Theo Doi</h2>
<table>
    <tr>
        <th>Ten Loai Tien</th>
        <th>Chi phi</th>
        <th>Tong 2</th>
    </tr>
    <tr>
        <td>So buoi nghi hoc: @Model.infor_phieuThu.SoNgayVang</td>
        <td>@Model.tienHoc1Buoi vnd</td>
        <td>...</td>
    </tr>
    <tr>
        <td>So ngay an sang: @Model.infor_phieuThu.SoNgayAnSang</td>
        <td>@Model.tienAnSang vnd</td>
        <td>...</td>
    </tr>
    <tr>
        <td>So ngay an trua: @Model.infor_phieuThu.SoNgayAnTrua</td>
        <td>@Model.tienAnTrua vnd</td>
        <td>...</td>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th>@Model.tong2</th>
    </tr>

</table>
<h2>Dich vu ngoai</h2>
<table>
    <tr>
        <th>Ten loai tien</th>
        <th>Chi phi</th>
        <th>Tong 3</th>
    </tr>
    @foreach (var item in Model.listDichVuNgoai)
    {
    <tr>
        <td> @item.TenDV</td>
        <td>@item.ChiPhi vnd </td>
        <td>@Model.tong3</td>
    </tr>        
    }
   
    <tr>
        <th></th>
        <th></th>
        <th>@Model.tong3</th>
    </tr>   
</table>
<h2>Tien Dau Nam</h2>
<table>
    <tr>
        <th>Ten loai tien</th>
        <th>Chi phi</th>
        <th>Tong 4</th>
    </tr>
    @foreach (var item in Model.listHocPhiDauNam)
    {
        <tr>
            <td> @item.TenHocPhi</td>
            <td>@item.ChiPhi vnd </td>
            <td>...</td>
        </tr>
    }

    <tr>
        <td></td>
        <td></td>
        <td>@Model.tong4</td>
    </tr>
</table>
<p>Tong hoc phi = (1)+(2)+(3)+(4) = @(Model.tong1+Model.tong2+Model.tong3+Model.tong4)</p>