@using QuanLyMamNon.Models
@model QuanLyMamNon.Models.HocSinh
@{
    ViewBag.Title = "HocPhiHocSinh";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Tính học phí học sinh @Model.Ten</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-comments fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">26</div>
                            <div>Danh Sách Học Sinh</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("DanhSachHocSinh","KeToan")">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">12</div>
                            <div>Thống kê theo lớp</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("DanhSachLop","KeToan")">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-shopping-cart fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">124</div>
                            <div>New Orders!</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-support fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">13</div>
                            <div>Support Tickets!</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <!-- /.col-lg-8 -->
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Thông tin chi tiết học sinh
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="list-group">
                                <a class="list-group-item">
                                    <i class="fa fa-comment fa-fw"></i> Thông tin học sinh
                                    <span class="pull-right text-muted small">
                                    </span>
                                </a>
                                <a class="list-group-item">
                                    <i class="fa fa-twitter fa-fw"></i> Họ tên: @Model.Ten
                                    <i class="fa fa-envelope fa-fw"></i> Ngày sinh: @Model.NgaySinh.ToShortDateString()
                                    <i class="fa fa-tasks fa-fw"></i> Giới tính: @Model.GioiTinh
                                    <span class="pull-right text-muted small">
                                    </span>
                                </a>
                                <a class="list-group-item">
                                    <i class="fa fa-upload fa-fw"></i> Địa chỉ: @Model.DiaChi
                                    <span class="pull-right text-muted small">
                                    </span>
                                </a>
                                <a class="list-group-item">
                                    <i class="fa fa-bolt fa-fw"></i> Chiều cao: @Model.ChieuCao cm<i class="fa fa-warning fa-fw"></i> Cân Nặng: @Model.CanNang kg
                                    <span class="pull-right text-muted small">
                                    </span>
                                </a>

                                <a class="list-group-item">
                                    <i class="fa fa-shopping-cart fa-fw"></i> Tình trạng:@Model.TinhTrang
                                    <span class="pull-right text-muted small">
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="list-group">
                                <a class="list-group-item">
                                    <i class="fa fa-comment fa-fw text-center"></i> Thông tin phụ huynh
                                    <span class="pull-right text-muted small">
                                    </span>
                                </a>
                                <a class="list-group-item">
                                    <i class="fa fa-twitter fa-fw"></i> Họ tên: @Model.TenPhuHuynh
                                    <span class="pull-right text-muted small">
                                    </span>
                                </a>
                                <a class="list-group-item">
                                    <i class="fa fa-envelope fa-fw"></i> Ngày sinh: @Model.NgaySinhPhuHuynh.ToShortDateString()
                                    <span class="pull-right text-muted small">
                                    </span>
                                </a>
                                <a class="list-group-item">
                                    <i class="fa fa-tasks fa-fw"></i> Tel: @Model.Sdt
                                    <span class="pull-right text-muted small">
                                    </span>
                                </a>
                                <a class="list-group-item">
                                    <i class="fa fa-upload fa-fw"></i> Email: @Model.Email
                                    <span class="pull-right text-muted small">
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <div id="resultHocPhi">
        <!-- /.row -->
        @Html.Action("Partial_CT_HocPhi","KeToan")
    </div>
    
</div>
