@using QuanLyMamNon.Models
@model QuanLyMamNon.Models.Dao.ViewModelPhieuThu
<div class="row">
    <!-- /.col-lg-8 -->
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bell fa-fw"></i> Chi tiết học phí
                <span class="pull-right text-muted small">
                    <em> vnd</em>
                </span>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group" id="sandbox-container">
                            <input value="@Model.infor_phieuThu.NgayTaoPhieu" type="text" name="date" class="form-control datetimeHocPhi" placeholder="Chọn tháng....">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="panel panel-success">
                            <div class="panel-heading">

                                <i class="fa fa-comment fa-fw"></i> Tiền thu theo tháng
                                <span class="pull-right text-muted small">
                                </span>

                            </div>
                            <div class="list-group">
                                @foreach (var item in Model.listHocPhiThang)
                                {
                                    <a class="list-group-item">
                                        <i class="fa fa-twitter fa-fw"></i> @item.TenHocPhi
                                        <span class="pull-right text-muted small">
                                            <em>@item.ChiPhi vnd</em>
                                        </span>
                                    </a>
                                }
                            </div>
                            <div class="panel-footer">
                                <i class="fa fa-upload fa-fw"></i> (1)Tổng:
                                <span class="pull-right text-muted small">
                                    <em>@ViewData["tong1"] vnd</em>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="panel panel-success">
                            <div class="panel-heading">

                                <i class="fa fa-comment fa-fw"></i> Thông tin theo dõi quá trình học
                                <span class="pull-right text-muted small">
                                </span>

                            </div>
                            <div class="list-group">

                                <a class="list-group-item">
                                    <i class="fa fa-twitter fa-fw"></i> Số buổi nghỉ học: @Model.infor_phieuThu.SoNgayVang
                                    <span class="pull-right text-muted small">
                                        <em>@Model.tienHoc1Buoi vnd</em>
                                    </span>
                                </a>
                                <a class="list-group-item">
                                    <i class="fa fa-envelope fa-fw"></i> Số ngày ăn sáng: @Model.infor_phieuThu.SoNgayAnSang
                                    <span class="pull-right text-muted small">
                                        <em>@Model.tienAnSang vnd</em>
                                    </span>
                                </a>
                                <a class="list-group-item">
                                    <i class="fa fa-tasks fa-fw"></i> Số ngày ăn trưa: @Model.infor_phieuThu.SoNgayAnTrua
                                    <span class="pull-right text-muted small">
                                        <em>@Model.tienAnTrua vnd</em>
                                    </span>
                                </a>
                            </div>
                            <div class="panel-footer">
                                <i class="fa fa-upload fa-fw"></i> (2)Tổng:
                                <span class="pull-right text-muted small">
                                    <em>@ViewData["tong2"] vnd</em>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="panel panel-success">
                            <div class="panel-heading">

                                <i class="fa fa-comment fa-fw text-center"></i> Dịch vụ ngoài
                                <span class="pull-right text-muted small">
                                </span>

                            </div>
                            <div class="list-group">
                                @foreach (var item in Model.listDichVuNgoai)
                                {
                                    <a class="list-group-item">
                                        <i class="fa fa-twitter fa-fw"></i> Môn Học: @item.TenDV
                                        <span class="pull-right text-muted small">
                                            <em>@item.ChiPhi vnđ</em>
                                        </span>
                                    </a>
                                }
                            </div>
                            <div class="panel-footer">
                                <i class="fa fa-upload fa-fw"></i> (3)Tổng:
                                <span class="pull-right text-muted small">
                                    <em>@ViewData["tong3"] vnd</em>
                                </span>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-lg-3">
                            <div class="panel panel-success">
                                <div class="panel-heading">

                                    <i class="fa fa-comment fa-fw text-center"></i> Các khoản đầu năm
                                    <span class="pull-right text-muted small">
                                    </span>

                                </div>
                                <div class="list-group">

                                    <a class="list-group-item">
                                        <i class="fa fa-twitter fa-fw"></i> Tiền xây dựng
                                        <span class="pull-right text-muted small">
                                            <em>25.000 vnd</em>
                                        </span>
                                    </a>
                                    <a class="list-group-item">
                                        <i class="fa fa-envelope fa-fw"></i> Tiền mua đồ dùng học tập
                                        <span class="pull-right text-muted small">
                                            <em>25.000 vnd</em>
                                        </span>
                                    </a>
                                    <a class="list-group-item">
                                        <i class="fa fa-tasks fa-fw"></i> Tiền nước
                                        <span class="pull-right text-muted small">
                                            <em>25.000 vnd</em>
                                        </span>
                                    </a>
                                    <a class="list-group-item">
                                        <i class="fa fa-upload fa-fw"></i> Tiền hỗ trợ điện
                                        <span class="pull-right text-muted small">
                                            <em>25.000 vnd</em>
                                        </span>
                                    </a>
                                </div>
                                <div class="panel-footer">
                                    <i class="fa fa-upload fa-fw"></i> (4)Tổng:
                                    <span class="pull-right text-muted small">
                                        <em>25.000 vnd</em>
                                    </span>
                                </div>
                            </div>
                        </div>*@

                </div>
                <div class="alert alert-success" id="DaThanhToan">
                    Đã thanh toán!
                </div>
                <div class="alert alert-danger" id="ChuaThanhToan">
                    Chưa thanh toán!
                </div>
                <div class="alert alert-info">
                    Tổng học phí = (1)+(2)+(3) = @ViewData["tong"] vnđ
                    <span class="pull-right text-muted small">
                        <a class="alert-link excel"><i class="fa fa-print"></i> Xuất hóa đơn</a>
                        <a class="alert-link submit"><i class="fa fa-gavel"></i> Thu phí</a>
                    </span>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
            <!-- /#page-wrapper -->

        </div>
    </div>
</div>
<script>
    $("#DaThanhToan").hide();
    $("#ChuaThanhToan").hide();
    if( @ViewData["checkPhieuThu"].ToString().ToLower() == true ) {
        $(".submit").hide();        
        $("#DaThanhToan").show();
    }else{        
        $("#ChuaThanhToan").show();
    }
    $(document).on('click', '.excel', function () {
        window.location.href = '@Url.Action("ExportToExcel","KeToan")';
    });
    $(function() {
        $('.datetimeHocPhi').datepicker({
            format: "mm/yyyy",
            minViewMode: 1,
            todayBtn: "linked",
            calendarWeeks: true,
            autoclose: true,
            endDate: '+0d',
            onSelect: function() {
                $(this).change();
            }
        }).on("change", function() {
            debugger;
            var date = $(this).val();
            var MaHocSinh=@Model.hocSinh.MaHocSinh;

            if (date && date != '') {
                debugger;
                $.ajax({
                    url: '@Url.Action("Partial_CT_HocPhi")',
                    type: 'GET',
                    type: 'POST',
                    cache: false,
                    data: {  MaHocSinh:MaHocSinh,date: date },
                    success: function(data) {
                        debugger;
                        $('#resultHocPhi').html(data);
                    }
                });
            }
        });
    });

    //thực hiện lưu học phí
    $(function() {
        $(".submit").click(function(){
            debugger;
            $.ajax({
                url: '@Url.Action("ThuPhi", "KeToan")',
                type: 'POST',
                dataType: 'json',
                traditional: true,
                success: function (response) {
                    if (response != null && response.success) {
                        alert(response.responseText);
                        location.reload();
                    } else {
                        // DoSomethingElse()
                        alert(response.responseText);
                    }
                },
                error: function (response) {
                    alert("error!");  //
                }
            });
        });
    })
</script>