@model QuanLyMamNon.Models.PhieuChiTieu
@using (Html.BeginForm("Update", "PhieuChiTieu", FormMethod.Post, new { @role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h1 class="modal-title" id="myModalLabel">Update</h1>
    </div>
    <div class="modal-body">
        @Html.HiddenFor(x => x.MaPhieuChiTieu)
        @Html.HiddenFor(x => x.MaNhanVien)
        <label>Ngày tạo phiếu</label>(<i class="fa fa-star" style="color:red"></i>)
        <div class="form-group input-group input-group">
            <span class="input-group-addon">
                <i class="fa fa-linux"></i>
            </span>
            @Html.TextBoxFor(x => x.NgayTaoPhieu, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control", @placeholder = "Ngày tạo phiếu...", @required = "required" })
            
        </div>
        <label> Tên người chi</label>(<i class="fa fa-star" style="color:red"></i>)
        <div class="form-group input-group input-group">
            <span class="input-group-addon">
                <i class="fa fa-sort-numeric-asc"></i>
            </span>
            @Html.TextBoxFor(x => x.TenNguoiChi, new { @class = "form-control", @placeholder = "Tên người chi...", @required = "required" })
        </div>
        <label> Lý do</label>(<i class="fa fa-star" style="color:red"></i>)
        <div class="form-group input-group input-group">
            <span class="input-group-addon">
                <i class="fa fa-comments"></i>
            </span>

            @Html.TextAreaFor(x => x.LyDo, new { @class = "form-control", @placeholder = "Ghi chú...", @required = "required" })

        </div>
        <label> Chi phí</label>(<i class="fa fa-star" style="color:red"></i>)
        <div class="form-group input-group input-group">
            <span class="input-group-addon">
                <i class="fa fa-comments"></i>
            </span>

            @Html.TextBoxFor(x => x.ChiPhi, new { @class = "form-control", @placeholder = "Ghi chú...", @required = "required" })

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
        <button type="submit" class="btn btn-primary">Chỉnh sửa</button>
    </div>
}