@model QuanLyMamNon.Models.Dao.ViewModelHocPhi

@using (Html.BeginForm("AddHocPhi", "HocPhi", FormMethod.Post, new { @role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Thêm mới</h4>
    </div>
        <div class="modal-body">
            <label>Tên học phí</label>(<i class="fa fa-star" style="color:red"></i>)
            <div class="form-group input-group input-group">
                <span class="input-group-addon">
                    <i class="fa fa-stack-overflow"></i>
                </span>
                @Html.TextBoxFor(x => x.hocphi.TenHocPhi, new { @class = "form-control", @data_error = "Please enter name field.", @placeholder = "Nhập tên...", @required = "required" })
            </div>
            <label>Chi phí</label>(<i class="fa fa-star" style="color:red"></i>)
            <div class="form-group input-group input-group">
                <span class="input-group-addon">
                    <i class="fa fa-money"></i>
                </span>
                @Html.TextBoxFor(x => x.hocphi.ChiPhi, new { @type="number",@class = "form-control", @data_error = "Please enter name field.", @placeholder = "Chi phí...", @required = "required" })
            </div>
            <label>Ghi chú</label>(<i class="fa fa-star" style="color:red"></i>)
            <div class="form-group input-group input-group">
                <span class="input-group-addon">
                    <i class="fa fa-comment"></i>
                </span>                
                @Html.TextAreaFor(x => x.hocphi.GhiChu, new { @class = "form-control", @placeholder = "Ghi chú..."  })
            </div>
            <label> Loại học phí</label>(<i class="fa fa-star" style="color:red"></i>)
            <div class="form-group input-group input-group">

                <span class="input-group-addon">
                    <i class="fa fa-stack-exchange"></i>
                </span>
                @Html.DropDownListFor(x => x.hocphi.LoaiHocPhi, new SelectList(Model.listLoaiHocPhi, "MaLoai", "TenLoai", 0), "None", new { @class = "form-control", @required = "required" })
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            <button type="submit" class="btn btn-primary">Thêm mới</button>
        </div>
}
