@model QuanLyMamNon.Models.Dao.ViewModelDanhSachHS
<div class="modal-header modal-header-primary">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Thông tin chi tiết</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-comment fa-fw text-center"></i> Thông tin học sinh
                    <span class="pull-right text-muted small">
                    </span>
                </div>
                <div class="list-group">
                    <a class="list-group-item">
                        <i class="fa fa-child fa-fw"></i> Họ tên: @Model.hocsinh.Ten
                        <span class="pull-right text-muted small">
                        </span>
                    </a>
                    <a class="list-group-item">
                        <i class="fa fa-calendar fa-fw"></i> Ngày sinh: @Model.hocsinh.NgaySinh.ToShortDateString()
                        <span class="pull-right text-muted small">
                        </span>
                    </a>
                    <a class="list-group-item">
                        <i class="fa fa-leaf fa-fw"></i> Giới tính: @Model.hocsinh.GioiTinh
                        <span class="pull-right text-muted small">
                        </span>
                    </a>
                    <a class="list-group-item">
                        <i class="fa fa-home fa-fw"></i> Địa chỉ: @Model.hocsinh.DiaChi
                        <span class="pull-right text-muted small">
                        </span>
                    </a>
                    <a class="list-group-item">
                        <i class="fa fa-arrows-v fa-fw"></i> Chiều cao: @Model.hocsinh.ChieuCao cm  <i class="fa fa-arrows-h fa-fw"></i> Cân Nặng: @Model.hocsinh.CanNang kg
                        <span class="pull-right text-muted small">
                        </span>
                    </a>
                    <a class="list-group-item">
                        <i class="fa fa-qq fa-fw"></i>Là đối tượng con học viện MTA:  "@Model.hocsinh.DoiTuongMTA"
                        <span class="pull-right text-muted small">
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-comment fa-fw text-center"></i> Thông tin phụ huynh
                    <span class="pull-right text-muted small">
                    </span>
                </div>
                
                    <div class="list-group">
                        <a class="list-group-item">
                            <i class="fa fa-child fa-fw"></i> Họ tên: @Model.hocsinh.TenPhuHuynh
                            <span class="pull-right text-muted small">
                            </span>
                        </a>
                        <a class="list-group-item">
                            <i class="fa fa-calendar fa-fw"></i> Ngày sinh: @Model.hocsinh.NgaySinhPhuHuynh.ToShortDateString()
                            <span class="pull-right text-muted small">
                            </span>
                        </a>
                        <a class="list-group-item">
                            <i class="fa fa-credit-card fa-fw"></i> Số chứng minh thư: @Model.hocsinh.SoCmt
                            <span class="pull-right text-muted small">
                            </span>
                        </a>
                        <a class="list-group-item">
                            <i class="fa fa-phone fa-fw"></i> Tel: @Model.hocsinh.Sdt
                            <span class="pull-right text-muted small">
                            </span>
                        </a>
                        <a class="list-group-item">
                            <i class="fa fa-envelope fa-fw"></i> Email: @Model.hocsinh.Email
                            <span class="pull-right text-muted small">
                            </span>
                        </a>
                    </div>
                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-comment fa-fw text-center"></i> Tình trạng học tập
                    <span class="pull-right text-muted small">
                    </span>
                </div>
                <div class="panel-body">
                    <p>@Model.hocsinh.TinhTrang</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
</div>
