@using QuanLyMamNon.Models
@model QuanLyMamNon.Models.Dao.ViewModelDanhSachNhanVien
@using (Html.BeginForm("Update", "NhanVien", FormMethod.Post, new { @role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-header modal-header-primary">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Update</h4>
    </div>
    <div class="modal-body">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(x=>x.nhanvien.MaNhanVien)
        <label>Họ tên</label>
        <div class="form-group input-group">
            <span class="input-group-addon">
                <i class="fa fa-user"></i>
            </span>
            @Html.TextBoxFor(x => x.nhanvien.TenNhanVien, new { @class = "form-control", @placeholder = "Họ và tên..." })            
        </div>
        <label>Địa chỉ</label>
        <div class="form-group input-group">
            <span class="input-group-addon">
                <i class="fa fa-home"></i>
            </span>
            @Html.TextBoxFor(x => x.nhanvien.DiaChi, new { @class = "form-control", @placeholder = "Địa chỉ..." })            
        </div>
        <label>Số điện thoại</label>
        <div class="form-group input-group">
            <span class="input-group-addon">
                <i class="fa fa-phone"></i>
            </span>
            @Html.TextBoxFor(x => x.nhanvien.Sdt, new { @class = "form-control", @placeholder = "Số điện thoại..." })            
        </div>
        <label>Email</label>
        <div class="form-group input-group">
            <span class="input-group-addon">
                <i class="fa fa-envelope"></i>
            </span>
            @Html.TextBoxFor(x=>x.nhanvien.Email,new { @class = "form-control", @placeholder = "Email..." })                      
        </div>
        <div class="form-group">
            <label>Chức vụ</label>
            @Html.DropDownListFor(x => x.nhanvien.MaChucVu, new SelectList(Model.listChucVu, "MaChucVu", "TenChucVu"), new { @class = "form-control" })
        </div>
        <div class="form-group" id="MaLop_Add">
            <label>Chọn lớp quản lý</label>
            @Html.DropDownListFor(x => x.nhanvien.MaLop, new SelectList(Model.listLop, "MaLop", "TenLop",0), "None", new { @class = "form-control" })
            @*@Html.DropDownList("MaLop", new SelectList(Model.listLop, "MaLop", "TenLop", Model.nhanvien.MaLop), new { @class = "form-control" })*@
        </div>
        <div class="form-group input-group">
            <span class="input-group-addon">
                <i class="fa fa-lock"></i>
            </span>
            @Html.TextBoxFor(x => x.nhanvien.Password, new { @class = "form-control", @placeholder = "Password..." })
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
        <button type="submit" class="btn btn-primary">Chỉnh sửa</button>
    </div>
}