@using QuanLyMamNon.Models
@model QuanLyMamNon.Models.Dao.ViewModelDanhSachNhanVien

@{
    ViewBag.Title = "CURDNhanVien_Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    DataTables Advanced Tables
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <!--Start Modal Thêm mới nhân viên -->
                            @Html.Partial("Partial_AddNhanVien")
                            <!-- Modal Update nhân viên -->
                            <!-- Modal sửa  -->
                            @Html.Partial("Partial_UpdateNhanVien")                                    
                            <!--End Modal sửa nhân viên -->
                            <button class="btn btn-primary" data-toggle="modal" data-target="#myModal_addNhanVien">
                                Thêm nhân viên
                            </button>
                        </div>
                        <div class="col-lg-6">
                            @using (Html.BeginForm("CURDNhanVien_Index", "HomeAdmin", FormMethod.Get, new { @class = "header-search-box", @style = "text-align:right" }))
                            {
                                <p>
                                </p><div class="form-inline">
                                    <div class="input-group">
                                        <select class="form-control" id="idd" name="maChucVu">
                                            <option value="0">Tất cả</option>
                                            @foreach (var item in Model.listChucVu)
                                            {
                                                <option value="@item.MaChucVu">@item.TenChucVu</option>
                                            }
                                        </select>
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" type="submit">Hiển thị</button>
                                        </span>
                                    </div><!-- /input-group -->

                                </div>
                                <p></p>
                            }
                        </div>
                    </div>
                    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>Mã Nhân Viên</th>
                                <th>Tên</th>
                                <th>Địa chỉ</th>
                                <th>Tel</th>
                                <th>Email</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.listNhanVien)
                            {
                                <tr class="even gradeC">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MaNhanVien)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TenNhanVien)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DiaChi)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Sdt)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        <button class="btn btn-primary edit-person" data-toggle="modal" data-target="#myModal_updateNhanVien" data-id="@item.MaNhanVien">
                                            Sửa nhân viên
                                        </button>
                                        @Html.ActionLink("UpdateNhanVien", "HomeAdmin", new { MaNhanVien = item.MaNhanVien }, new { @data_toggle = "modal", @data_target = "#myModal_updateNhanVien" }) |
                                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                    <!-- /.table-responsive -->
                    <div class="well">
                        <h4>DataTables Usage Information</h4>
                        <p>DataTables is a very flexible, advanced tables plugin for jQuery. In SB Admin, we are using a specialized version of DataTables built for Bootstrap 3. We have also customized the table headings to use Font Awesome icons in place of images. For complete documentation on DataTables, visit their website at <a target="_blank" href="https://datatables.net/">https://datatables.net/</a>.</p>
                        <a class="btn btn-default btn-lg btn-block" target="_blank" href="https://datatables.net/">View DataTables Documentation</a>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>
<script>

    $('#idd option[value=@ViewBag.select]').attr('selected', 'selected');

    $(document).ready(function () {
        $('.edit-person').click(function () {
            var id = $(this).attr('data-id');
            var url = "/HomeAdmin/UpdateNhanVien/"+id;
            $.ajax({
                url: url, // The method name + paramater
                cache: false,
                type: "GET",
                success: function (data) {
                    $('#modalWrapper').html(data); // This should be an empty div where you can inject your new html (the partial view)
                }
            });
        });
    });
</script>