@using QuanLyMamNon.Models
@model QuanLyMamNon.Models.Dao.ViewModelDanhSachNhanVien
<div class="modal fade" id="myModal_updateNhanVien" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content update-nhanvien-content">
            @using (Ajax.BeginForm("AddNhanVien", "HomeAdmin", FormMethod.Post,
                new AjaxOptions
                {
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "POST",
                    UpdateTargetId = "list-of-people"
                }, new { @role = "form" }))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h1 class="modal-title" id="myModalLabel">Sửa nhân viên @Model.nhanvien.MaNhanVien</h1>
                                </div>
                <div class="modal-body">

                    <div class="form-group input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-eur"></i>
                        </span>
                        @Html.TextBoxFor(x => x.nhanvien.MaNhanVien)
                        <input type="text" class="form-control" name="MaNhanVien" value="@Model.nhanvien.MaNhanVien">
                    </div>

                    <div class="form-group input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-eur"></i>
                        </span>
                        <input type="text" class="form-control" name="TenNhanVien" placeholder="Họ và tên...">
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-eur"></i>
                        </span>
                        <input type="text" class="form-control" name="DiaChi" placeholder="Địa chỉ...">
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-eur"></i>
                        </span>
                        <input type="text" class="form-control" name="Sdt" placeholder="Số điện thoại...">
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-eur"></i>
                        </span>
                        <input type="text" class="form-control" name="Email" placeholder="Email...">
                    </div>
                    <div class="form-group">
                        <label>Chức vụ</label>
                        <select class="form-control" id="MaChucVu_Add" name="MaChucVu">
                            @foreach (ChucVu item in Model.listChucVu)
                            {
                                <option value="@item.MaChucVu">@item.TenChucVu</option>
                            }
                        </select>
                    </div>
                    <div class="form-group" id="MaLop_Add">
                        <label>Chọn lớp quản lý</label>
                        <select class="form-control" name="MaLop">
                            @foreach (Lop item in Model.listLop)
                            {
                                <option value="@item.MaLop">@item.TenLop</option>
                            }
                        </select>
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-eur"></i>
                        </span>
                        <input type="text" class="form-control" name="Password" placeholder="Password...">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Thêm mới</button>
                </div>
            }
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>