@using QuanLyMamNon.Models
@model QuanLyMamNon.Models.Dao.ViewModelDanhSachNhanVien
@using (Html.BeginForm("UpdateNhanVien", "HomeAdmin", FormMethod.Post, new { @role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h1 class="modal-title" id="myModalLabel">Update</h1>
    </div>
    <div class="modal-body">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input type="hidden" name="MaNhanVien" value="@Model.nhanvien.MaNhanVien">
        <input type="hidden" name="MaNhanVien" value="@Model.nhanvien.Password">
        <div class="form-group input-group">
            <span class="input-group-addon">
                <i class="fa fa-eur"></i>
            </span>
            <input type="text" class="form-control" name="TenNhanVien" placeholder="Họ và tên..." value="@Model.nhanvien.TenNhanVien">
        </div>
        <div class="form-group input-group">
            <span class="input-group-addon">
                <i class="fa fa-eur"></i>
            </span>
            <input type="text" class="form-control" name="DiaChi" placeholder="Địa chỉ..." value="@Model.nhanvien.DiaChi">
        </div>
        <div class="form-group input-group">
            <span class="input-group-addon">
                <i class="fa fa-eur"></i>
            </span>
            <input type="text" class="form-control" name="Sdt" placeholder="Số điện thoại..." value="@Model.nhanvien.Sdt">
        </div>
        <div class="form-group input-group">
            <span class="input-group-addon">
                <i class="fa fa-eur"></i>
            </span>
            <input type="text" class="form-control" name="Email" placeholder="Email..." value="@Model.nhanvien.Email">
        </div>
        <div class="form-group">
            <label>Chức vụ</label>
            @Html.DropDownList("MaChucVu", new SelectList(Model.listChucVu, "MaChucVu", "TenChucVu", Model.nhanvien.MaChucVu), new { @class = "form-control" })
        </div>
        <div class="form-group" id="MaLop_Add">
            <label>Chọn lớp quản lý</label>
            @Html.DropDownList("MaLop", new SelectList(Model.listLop, "MaLop", "TenLop", Model.nhanvien.MaLop), new { @class = "form-control" })
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
        <button type="submit" class="btn btn-primary">Chỉnh sửa</button>
    </div>
}