@using QuanLyMamNon.Models
@model QuanLyMamNon.Models.Dao.ViewModelDanhSachNhanVien

@using (Html.BeginForm("Add", "NhanVien", FormMethod.Post, new { @role = "form", @data_toggle = "validator" }))
{
    @Html.AntiForgeryToken()

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Thêm mới nhân viên</h4>
    </div>
    <div class="modal-body">
        <div class="panel panel-primary">
            <div class="panel-body">
                <label>Họ và tên</label>(<i class="fa fa-star" style="color:red"></i>)
                <div class="form-group input-group input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-user"></i>
                    </span>
                    @Html.TextBoxFor(x => x.nhanvien.TenNhanVien, new { @class = "form-control", @data_error = "Please enter name field.", @placeholder = "Nhập tên...", @required = "required" })
                </div>
                <label>Địa chỉ</label>(<i class="fa fa-star" style="color:red"></i>)
                <div class="form-group input-group input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-home"></i>
                    </span>
                    @Html.TextBoxFor(x => x.nhanvien.DiaChi, new { @class = "form-control", @placeholder = "Địa chỉ...", @required = "required" })
                </div>
                <label>Số điện thoại</label>(<i class="fa fa-star" style="color:red"></i>)
                <div class="form-group input-group input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-phone"></i>
                    </span>
                    @Html.TextBoxFor(x => x.nhanvien.Sdt, new { @class = "form-control", @type = "tel", @pattern = "([0-9+ _-]{9,15})", @required = "required", @placeholder = "Số điện thoại... (ký tự số từ 0-9, độ dài 9-15 ký tự(ví dụ '01676983088')" })
                </div>
                <label>Email</label>(<i class="fa fa-star" style="color:red"></i>)
                <div class="form-group input-group input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-envelope"></i>
                    </span>
                    @Html.TextBoxFor(x => x.nhanvien.Email, new { @class = "form-control", @type = "email", @data_error = "Bruh, that email address is invalid", @required = "required", @placeholder = "john@doe.com" })
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group input-group">
                            <label>Chức vụ</label>(<i class="fa fa-star" style="color:red"></i>)
                            @Html.DropDownListFor(x => x.nhanvien.MaChucVu, new SelectList(Model.listChucVu, "MaChucVu", "TenChucVu"), "--Chọn chức vụ--", new { @class = "form-control dropdownChucVu", @required = "required" })
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group input-group showHide">
                            <label>Chọn lớp quản lý</label>
                            @Html.DropDownListFor(x => x.nhanvien.MaLop, new SelectList(Model.listLop, "MaLop", "TenLop", 0), "None", new { @class = "form-control dropdownLop", @required = "required" })
                        </div>
                    </div>
                </div>
                <label>Password</label>(<i class="fa fa-star" style="color:red"></i>)
                <div class="form-group input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-lock"></i>
                    </span>
                    @Html.PasswordFor(x => x.nhanvien.Password, new { @type = "password", @id = "pwd", @name = "password", @data_minlength = "6", @class = "form-control", @required = "required", @placeholder = "Password..." })
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="eye">
                            <i class="fa fa-eye "></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
        <button type="submit" class="btn btn-primary">Thêm mới</button>
    </div>
}
<script>
    $(".showHide").hide();
    $(document).ready(function () {
        $(".dropdownChucVu").on("change", function () {
            var optClass = $("option:selected", this).val();
            var showthis = $(".showHide");
            if (optClass == 'GVC' || optClass == 'GVP') {
                showthis.show();
            } else {
                $(".dropdownLop").val(null);
                $(".dropdownLop").removeAttr("required");
                showthis.hide();
            }
        });
    })
    function show() {
        var p = document.getElementById('pwd');
        p.setAttribute('type', 'text');
    }

    function hide() {
        var p = document.getElementById('pwd');
        p.setAttribute('type', 'password');
    }

    var pwShown = 0;

    document.getElementById("eye").addEventListener("click", function () {
        if (pwShown == 0) {
            pwShown = 1;
            show();
        } else {
            pwShown = 0;
            hide();
        }
    }, false);
</script>